<div class="my-account">
    <div class="my-account-title">
        <a href="/mi-cuenta/logout">Cerrar Sesión</a>
        <h1>{{#if isAdmin}}Cuenta De Administrador{{else}}Mi Cuenta{{/if}}</h1>
        <h2>Bienvenido de nuevo, {{username}}!</h2>
    </div>
    <div class="my-account-box">
        {{#if isAdmin}}
            <div class="my-account-admin">
                <h3>Administrar Tienda</h3>
                <div class="functions">
                    <a href="/mi-cuenta/administrador/usuarios">
                        Usuarios
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z"/>
                        </svg>
                    </a>
                    <a href="/mi-cuenta/administrador/productos">
                        Productos
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z"/>
                        </svg>
                    </a>
                    <a href="/mi-cuenta/administrador/ordenes">
                        Ordenes
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z"/>
                        </svg>
                    </a>
                    <a href="/mi-cuenta/administrador/galeria">
                        Galería
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z"/>
                        </svg>
                    </a>
                </div>
            </div>
        {{else}}
            <div class="my-account-orders">
                <h3>Mis Pedidos</h3>        
                {{#if orders}}
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nro De Orden</th>
                                <th scope="col">Datos Personales</th>
                                <th scope="col">Productos Seleccionados</th>
                                <th scope="col">Total A Pagar</th>
                                <th scope="col">Estado Del Pedido</th>
                            </tr>
                        </thead>
                        {{#each orders}}
                            <tbody>
                                <tr>
                                    <td>{{this.numOrder}}</td>
                                    <td>
                                        <span>
                                            {{this.userData.firstname}}
                                            {{this.userData.lastname}}
                                        </span>
                                        <span>{{this.userData.email}}</span>
                                        <span>{{this.userData.phone}}</span>
                                    </td>
                                    {{#each this.products}}
                                    <td style="display: flex; flex-direction: column; border-color: transparent !important;">
                                        <a href="/coleccion-eppur/{{this.category}}/{{this._id}}">{{this.title}}</a>
                                    </td>
                                    {{/each}}
                                    <td>${{this.total}}</td>
                                    <td>{{this.state}}</td>
                                </tr>
                            </tbody>
                        {{/each}}
                    </table>
                {{else}}
                    <p>No has pedido nada aún.</p>
                {{/if}}
            </div>
        {{/if}}
    </div>
</div>