<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="cart-header">
        <h5 id="offcanvasRightLabel">Mi Carrito</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="cart-body">
        {{#if cartProducts}}
            <div class="cart-body-products">
                {{#each cartProducts}}
                    <div class="product-box">
                        <div class="product-box-data">
                            <img src="{{this.image}}">
                            <div>
                                <h4>{{this.title}}</h4>
                                <p>{{this.size}}</p>
                                <h5>{{this.price}}</h5>
                            </div>
                        </div>
                        <div class="product-box-count">
                            <div class="item-count">
                                <span>-</span>
                                <input type="text" name="quantity" id="quantity" value="{{this.quantity}}">
                                <span>+</span>
                            </div>
                            <a href="/cart/product/delete-product">Quitar</a>
                        </div>
                    </div>
                    <h3>Total: ${{cartTotal}}</h3>
                    <button>Terminar Compra</button>
                {{/each}}
            </div>
        {{else}}
            <h6>El carrito esta vacio.</h6>
        {{/if}}
    </div>
</div>