<div class="admin">
    <a href="/mi-cuenta">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
        Volver Atrás
    </a>
    <h1>
      Administrar Colección
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
      </svg>
      <!-- create product -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Nuevo Producto</h5>
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16" data-bs-dismiss="modal" aria-label="Close">
                <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
              </svg>
            </div>
            <div class="modal-body">
              <form action="/mi-cuenta/administrador/productos" method="post" enctype="multipart/form-data">
                <input type="text" name="title" id="title" placeholder="Titulo" required>
                <input type="text" name="category" id="category" placeholder="Categoría" required>
                <input type="number" name="price" id="price" placeholder="Precio" required>
                <input type="text" name="color" id="color" placeholder="Color" required>
                <input type="text" name="size" id="size" placeholder="Talle" required>
                <input type="number" name="stock" id="stock" placeholder="Stock" required>
                <input type="text" name="image" id="image" placeholder="Imagen" required>
                <input type="submit" value="Crear Producto">              
              </form>
            </div>
          </div>
        </div>
      </div>
    </h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Titulo</th>
          <th scope="col">Categoría</th>
          <th scope="col">Precio</th>
          <th scope="col">Color</th>
          <th scope="col">Talle</th>
          <th scope="col">Stock</th>      
          <th scope="col">Imagen</th>
        </tr>
      </thead>
      <tbody>
        {{#each products as |product|}}
          <tr>
            <td>{{this._id}}</td>
            <td>{{this.title}}</td>
            <td>{{this.category}}</td>
            <td>{{this.price}}</td>
            <td>{{this.color}}</td>
            <td>{{this.size}}</td>
            <td>{{this.stock}}</td>
            <td>{{this.image}}</td>
            <td class="actions">
              <a>
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                </svg>
              </a>
              <!-- edit product -->
              <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdrop">Editar Producto</h5>
                      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16" data-bs-dismiss="modal" aria-label="Close">
                        <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                        <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
                      </svg>
                    </div>
                    <div class="modal-body">
                      <form action="/mi-cuenta/administrador/productos/editar/{{this._id}}" method="post">
                        <input type="text" name="title" id="title" placeholder="Titulo" value="{{this.title}}" required>
                        <input type="text" name="category" id="category" placeholder="Categoría" value="{{this.category}}" required>
                        <input type="number" name="price" id="price" placeholder="Precio" value="{{this.price}}" required>
                        <input type="text" name="color" id="color" placeholder="Color" value="{{this.color}}" required>
                        <input type="text" name="size" id="size" placeholder="Talle" value="{{this.size}}" required>
                        <input type="number" name="stock" id="stock" placeholder="Stock" value="{{this.stock}}" required>
                        <input type="text" name="image" id="image" placeholder="Imagen" value="{{this.image}}" required>
                        <input type="submit" value="Editar Producto">                
                      </form>
                    </div>
                  </div>
                </div>                    
              </div>
              <a href="/mi-cuenta/administrador/productos/remover/{{this._id}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
              </a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
</div>