<div class="admin">
    <a href="/account">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
        VOLVER ATRÁS
    </a>
    <h1>
        ADMINISTRAR PRODUCTOS
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
        </svg>
    </h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Titulo</th>
      <th scope="col">Categoría</th>
      <th scope="col">Precio</th>
      <th scope="col">Color</th>
      <th scope="col">Talles y Stock</th>
      <th scope="col">Descripción</th>
      <th scope="col">URL</th>
    </tr>
  </thead>
  <tbody>
    {{#each products as |product|}}
      <tr>
        <td>{{this._id}}</td>
        <td>{{this.title}}</td>
        <td>{{this.category}}</td>
        <td>{{this.price}}</td>
        <td>{{this.color}}</td>
        <td>{{this.sizes}}</td>
        <td>{{this.description}}</td>
        <td>{{this.imageURL}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
</div>