{{#if products}}
  {{#each products}}
    <form class="details" method="post" action="/collections/add-product">
        <img src="{{this.image}}">
        <div class="details-content">
            <div class="details-nav">
              <a href="/collections/products/all-products">Colección Eppur <span>/</span></a>
              <a href="/collections/products/{{this.category}}">{{this.category}} <span>/</span></a>
              <a>{{this.title}}</a>
            </div>
            <h1>{{this.title}}</h1>
            <h2>${{this.price}}</h2>
            <h3>Color: <span>{{this.color}}</span></h3>
            <h3>Talle: <span>{{this.size}}</span></h3>
            <h4>Descripción</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia ipsam fugiat iusto officia repudiandae perferendis! Fugiat sint, exercitationem atque consequatur eius.</p>
            <div class="add-product">
              <div class="item-count">
                <span>-</span>
                <input type="text" name="quantity" id="quantity" value="1" >
                <span>+</span>
              </div>
              <!-- input for send id product -->
              <input type="hidden" name="productID" id="productID" value="{{this._id}}">
              <button type="submit">Agregar Producto</button>
            </div>
        </div>
    </form>
  {{/each}}
  {{else}}
    <p class="notfound">No hemos podido encontrar el producto seleccionado. <a href="/collections/coleccion-eppur">Volves Atrás</a></p>
{{/if}}