<div class="products">
    <h1>{{title}}</h1>
    {{#if boolean}}
    <div class="products-flex">
        <div class="filters">
            <div>
                <h3>FILTROS</h3>
                <a href="/collections/products/all-products">TODOS LOS PRODUCTOS</a>
                <a href="/collections/products/remeras">REMERAS</a>
                <a href="/collections/products/pantalones">PANTALONES</a>
                <a href="/collections/products/accesorios">ACCESORIOS</a>
            </div>
        </div>
    <div class="{{#if boolean}}products-container {{else}}products-container active {{/if}}">
            {{#each products as |product index|}}
                <a class="product-box" href="/collections/products/details/{{this._id}}">
                    <img src="../../images/productos.jpg" >
                    <div class="product-content">
                        <h4>{{this.title}} - {{this.color}}</h4>
                        <h5>${{this.price}}</h5>
                    </div>
                </a>     
            {{/each}}
    </div>
    </div>
    {{else}}
    <p class="notfound">No hay productos cargados en la web. <a href="/collections">VOLVER ATRÁS</a></p>
    {{/if}}
</div>