<div class="cart">
    <h1>{{#if cartProducts}}<a href="/collections/coleccion-eppur">Coleccion Eppur</a> / {{/if}}Carrito</h1>
    {{#if cartProducts}}
        <div class="products-cart">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Producto</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each cartProducts}}
                        <tr>
                            <td>
                                <a href="/collections/coleccion-eppur/{{this.category}}/{{this._id}}"><img src="{{this.image}}"></a>
                                <div class="data">
                                    <h4>{{this.title}}</h4>
                                    <h5>${{this.price}}</h5>
                                    <h6>
                                        <span>Cant.: {{this.quantity}}</span>
                                        <span>Talle: {{this.size}}</span>
                                        <span>Color: {{this.color}}</span>
                                    </h6>
                                </div>
                            </td>
                            <td>
                                <div class="item-count">
                                    <a href="/cart/removeone-product/{{this._id}}">-</a>
                                    <span>{{this.quantity}}</span>
                                    <a href="/cart/addone-product/{{this._id}}">+</a>
                                </div>
                                <a href="/cart/remove-product/{{this._id}}">Quitar</a>
                            </td>
                            <td>
                                ${{this.subtotal}}
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
            <div class="total">
                <h2>Total: ${{cartTotal}}</h2>
                <a href="/checkout/client/{{userID}}">Terminar Compra</a>
            </div>
        </div>
    {{else}}
        <p class="notfound">No has seleccionado ningún producto. <a href="/collections/coleccion-eppur">Seguir Comprando</a></p>
    {{/if}}
</div>