<div class="cart">
    {{#if cartProducts}}<a class="back-to-shop" href="/coleccion-eppur">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
        Seguir Comprando
    </a>{{/if}}
    <h1>Carrito</h1>
    {{#if cartProducts}}
        <div class="products-cart">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Producto</th>
                        <th scope="col">Cantidad</th>
                        <th class="subtotal" scope="col">Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each cartProducts}}
                        <tr>
                            <td>
                                <a href="/coleccion-eppur/{{this.category}}/{{this._id}}"><img src="../../images/{{this.image}}"></a>
                                <div class="data">
                                    <h4>{{this.title}}</h4>
                                    <h5>${{this.price}}</h5>
                                    <h6>
                                        <span>Cant.: {{this.quantity}}</span>
                                        <span>Talle: {{this.size}}</span>
                                        <span>Color: {{this.color}}</span>
                                    </h6>
                                </div>
                            </td>
                            <td>
                                <div class="item-count">
                                    <a href="/carrito/remover-un-producto/{{this._id}}">-</a>
                                    <span>{{this.quantity}}</span>
                                    <a href="/carrito/agregar-un-producto/{{this._id}}">+</a>
                                </div>
                                <a href="/carrito/remover-producto/{{this._id}}">Quitar</a>
                            </td>
                            <td class="subtotal">
                                ${{this.subtotal}}
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
            <div class="total">
                <h2>Total: ${{cartTotal}}</h2>
                <a href="/checkout/cliente/{{userID}}">Terminar Compra</a>
            </div>
        </div>
    {{else}}
        <p class="notfound">No has seleccionado ningún producto. <a href="/coleccion-eppur">Seguir Comprando</a></p>
    {{/if}}
</div>