<div class="system">
    <h1>INFORMACIÓN DEL SISTEMA</h1>
    <div>
        <p><strong>ARG ENTRADA:</strong> {{argEntrada}}</p>
        <p><strong>OS:</strong> {{os}}</p>
        <p><strong>NODE VS:</strong> {{nodeVs}}</p>
        <p><strong>MEMORY USAGE:</strong> {{memoryUsage}}</p>
        <p><strong>EXC PATH:</strong> {{excPath}}</p>
        <p><strong>PROCESS ID:</strong> {{processID}}</p>
        <p><strong>FOLDER:</strong> {{folder}}</p>
    </div>
</div>