<div class="system">
    <h1>Información Del Sistema</h1>
    <div>
        <p><strong>Arg Entrada:</strong> {{argEntrada}}</p>
        <p><strong>Os:</strong> {{os}}</p>
        <p><strong>Node Version:</strong> {{nodeVs}}</p>
        <p><strong>Memmory Usage:</strong> {{memoryUsage}}</p>
        <p><strong>Exc Path:</strong> {{excPath}}</p>
        <p><strong>Process Id:</strong> {{processID}}</p>
        <p><strong>Folder:</strong> {{folder}}</p>
    </div>
</div>